@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient( to top, #C0D7BB, #85BDA6);
  }
  #login {
    width: 90vw;
  }
  #login > div#imagem {
    float: left;
    width: 30%;
    height: 100%; 

  }
  #login > div#formulario {
  float: right;
  width: 70%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient( to top, #C0D7BB, #85BDA6, #3E885B);
  }
  #login {
    width: 950px;
  }
  #login > div#imagem {
    float: right;
    width: 40%;
    height: 100%;
  }
  #login > div#formulario {
    float: left;
    width: 60%;
    height: 100%;
  }
  div#formulario > h1 {
    font-size: 2em;
  }
  div#formulario > p {
    font-size: 1.2em;
  }
}