@charset "UTF-8";
/*class vem antes do id*/
/* em HTML é 'id' em CSS é '#' (só um elemento)
   em HTML é 'class' em CSS é '.' (pode vários elementos*/

body {
    background-color: #EEF0F2;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #353B3C;
}
h1#principal {
    color: white;
    text-align: center;
    background-color: #353B3C;
} /*o h1#principal sobreponhe o h1*/
h2 {
    color: #846A6A;
}
.basico { 
    background-color: #4B5043;
    color: white;
}
.intermediario {
    background-color: #9cb163;
    color: white;
}
.avancado {
    background-color: #8ea572;
    color: white;
}
.destaque {
    background-color: chartreuse;
}